<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
  version="3.1"
  metadata-complete="true">

    <description> Servlet and JSP Examples.  </description>
    <display-name>Servlet and JSP Examples</display-name>

    <servlet>
        <servlet-name>ContainerCosts</servlet-name>
        <servlet-class>ContainerCosts</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContainerCosts</servlet-name>
        <url-pattern>/ContainerCosts</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ContainerResources</servlet-name>
        <servlet-class>ContainerResources</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContainerResources</servlet-name>
        <url-pattern>/ContainerResources</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Applications</servlet-name>
        <servlet-class>Applications</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Applications</servlet-name>
        <url-pattern>/Applications</url-pattern>
    </servlet-mapping>



    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.xhtml</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>fream_a.html</welcome-file>
        <welcome-file>Applications.html</welcome-file>
        <welcome-file>fream_c.html</welcome-file>
    </welcome-file-list>

</web-app>
